extends ./base

block styles
  link(rel='stylesheet', href='/style/404.css')

block content
  div.title-404
    h1 Oops! 404
  div.logo-404
    img(src="/images/gobble-logo.png" alt="Gobble Logo")
  div.text-404 This is not the web page you were looking for.
  div.footer-404
    a.footer-link-404(href="/about") About
    a.footer-link-404(href="https://github.com/gobble43" target="_blank") Github
    a.footer-link-404(href="https://github.com/gobble43/docs/blob/master/LICENSE" target="_blank") License
    a.footer-link-404(href="https://github.com/gobble43/docs/blob/master/CONTRIBUTING.md" target="_blank") Contribute