extends ./base

block styles
  link(rel='stylesheet', href='/style/food-product.css')

block head-scripts
  script.
    window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};

block content
  div.root!= root

block body-scripts
  script(src='/js/food-product-index.bundle.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.0.0/d3.js')